<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PCM</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetContent</display-name>
    <servlet-name>GetContent</servlet-name>
    <servlet-class>awspcm.servlet.GetContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContent</servlet-name>
    <url-pattern>/GetContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilesList</servlet-name>
    <servlet-class>awspcm.servlet.FilesList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>awspcm.servlet.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesList</servlet-name>
    <url-pattern>/FilesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDelete</display-name>
    <servlet-name>FileDelete</servlet-name>
    <servlet-class>awspcm.servlet.FileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDelete</servlet-name>
    <url-pattern>/FileDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>awspcm.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>awspcm.filter.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeUser</display-name>
    <servlet-name>WelcomeUser</servlet-name>
    <servlet-class>awspcm.servlet.WelcomeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeUser</servlet-name>
    <url-pattern>/WelcomeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>awspcm.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>